# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\E_Data Science\1-Theoretical\2-Machine Learning In Details with (Hesham Asem)\3-Unsupervised Learning\9-3amly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
